<div ng-show="!loading">
  <div class="top-nav">
    <md-nav-bar
       md-no-ink-bar="disableInkBar"
       md-selected-nav-item="currentNavItem"
       nav-bar-aria-label="navigation links">
    </md-nav-bar>
  </div>

  <md-content layout-padding layout="row" layout-wrap class="page-meta">
  </md-content>

  <div layout="row" layout-align="center center">
    <md-card flex="100" flex-gt-xs="80" flex-gt-md="70">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Integrate with your access points.
          </span>
          <span class="md-subhead">
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Select an integration below to get started with MIMO.</p>
        <div layout="row" layout-align="space-around center" class="integration-cards" layout-wrap>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-repeat="integration in integrations">
            <md-card-content flex layout-align="left center" ng-click="save('unifi')">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="{{ integrationDetails[integration].image }}">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>{{ integrationDetails[integration].name }}</p>
            </md-card-actions>
          </md-card>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
