<div ng-show="!loading">
  <people-nav location="location"></people-nav>
  <md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">

    <div flex="100" flex-gt-md="90">
      <div layout="row" layout-align="center center" layout-wrap>
        <div flex="100" flex-gt-sm="40">
          <md-card class="guide-card b-bl">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" translate>
                  Getting Started
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>Getting set up is quick and easy! Here's your checklist of things to do:</p>
              <md-list flex>
                <md-subheader class="md-no-sticky">Customise your splash pages</md-subheader>
                <md-list-item class="md-2-line" ng-click='integrationClick("splash")' ng-href="/#/{{location.slug}}/splash_pages/">
                  <img class="check-mark" ng-src="{{location.setup.splash ? checked : unchecked}}" />
                  <div class="md-list-item-text">
                    <p>Design and select what data you want to capture.</p>
                  </div>
                </md-list-item>
                <md-divider style="margin: 20px 0;"></md-divider>
                <md-subheader class="md-no-sticky">Connect with your access points</md-subheader>
                <md-list-item class="md-2-line" ng-click='integrationClick("integration")' href="/#/{{ location.slug }}/integration">
                  <img class="check-mark" ng-src="{{location.setup.integrations ? checked : unchecked }}" />
                  <div class="md-list-item-text">
                    <p>Enter your credentials and we'll set it up automatically.</p>
                  </div>
                </md-list-item>
              </md-list>
              <p>You can change your location name in your settings.</p>
            </md-card-content>
          </md-card>
        </div>

      </div>
    </div>

  </md-content>
</div>
