<camp-nav></camp-nav>

<form name="myForm" ng-submit="save(myForm)">

  <md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta" style="padding-bottom: 0px;margin-bottom:0px;">

    <md-card flex="100" flex-gt-md="90" flex-gt-lg="80" class="b-pr">
      <md-card-content>
        <div flex="100">
          <p>Select the type of Sender you want to create.</p>
        </div>
        <div flex="100">
          <md-radio-group ng-model="sender.sender_type" layout="row" style="margin-bottom:10px;">
            <md-radio-button ng-repeat="type in sender_types" aria-label="{{type.value}}" ng-value="type.value" ng-disabled="type.value == 'twitter'">{{type.name}}</md-radio-button>
          </md-radio-group>
          <small class="muted">Twitter coming soon</small>
        </div>
      </md-card-content>
    </md-card>

    <md-card ng-if="sender.sender_type == 'email'" flex="100" flex-gt-md="90" flex-gt-lg="80" class="b-pr">
      <md-card-content layout="row" layout-wrap>
        <div flex="100">
          <p>Configure your email settings below.</p>
        </div>
        <md-input-container flex="100" flex-gt-xs="100">
          <label>
            <translate>Sender Name</translate>
          </label>
          <input ng-model="sender.sender_name" placeholder="Bob's Burgers" type='text' name="sender_name" md-maxlength='255' required></input>
          <div ng-messages="myForm.sender_name.$error">
            <div ng-message="required" translate>You must set a sender name</div>
            <div ng-message="md-maxlength" translate>Must be less than 255 characters.</div>
          </div>
          <small class="muted">This is for your reference only - the recipient will not see this.</small>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>From Name</translate>
          </label>
          <input ng-model="sender.from_name" placeholder="Bob Richards" type='text' name="from_name" md-maxlength='255' required></input>
          <div ng-messages="myForm.from_name.$error">
            <div ng-message="required" translate>You must set a from name</div>
            <div ng-message="md-maxlength" translate>Must be less than 255 characters.</div>
          </div>
        </md-input-container>
        <div flex="100" flex-gt-xs="55"></div>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>From Address</translate>
          </label>
          <input ng-model="sender.from_email" placeholder="bob@burgers.com" type='email' name="from_email" md-maxlength='255' required></input>
          <div ng-messages="myForm.from_email.$error" md-auto-hide="false">
            <div ng-message="required" translate>You must set an email</div>
            <div ng-message="email" translate>Must be a valid email address.</div>
          </div>

        </md-input-container>
        <div flex="100" flex-gt-xs="10"></div>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>Reply To Address</translate>
          </label>
          <input ng-model="sender.reply_email" placeholder="bob@burgers.com" type='text' name="reply_email" md-maxlength='255' required></input>
          <div ng-messages="myForm.reply_email.$error" md-auto-hide="false">
            <div ng-message="required" translate>You must set an email</div>
            <div ng-message="email" translate>Must be a valid email address.</div>
          </div>
        </md-input-container>
      </div>
      </md-card-content>
    </md-card>

    <md-card ng-if="sender.sender_type == 'email'" flex="100" flex-gt-md="90" flex-gt-lg="80" class="b-pr">
      <md-card-content layout="row" layout-wrap>
        <div flex="100">
          <p>You’re required to include your contact information, including a physical address, inside every email you send in order to comply with anti-spam laws such as <a href="https://en.wikipedia.org/wiki/CAN-SPAM_Act_of_2003" target="_blank">CAN-SPAM</a> and <a href="https://en.wikipedia.org/wiki/Fighting_Internet_and_Wireless_Spam_Act" target="_blank">CASL</a>.</p>
        </div>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>Street Address</translate>
          </label>
          <input ng-model="sender.address" name="address" type="text" md-maxlength='255' placeholder="{{ 'Street Name' | translate }}" required></input>
          <div ng-messages="myForm.address.$error">
            <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
            <div ng-message="required" translate>You must enter an address</div>
          </div>
        </md-input-container>
        <div flex-gt-xs="10"></div>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>City</translate>
          </label>
          <input ng-model="sender.town" name="town" type="text" md-maxlength='255' placeholder="{{ 'Enter a town or city.' | translate }}" required></input>
          <div ng-messages="myForm.town.$error">
            <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
            <div ng-message="required" translate>You must enter a town</div>
          </div>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>Postcode (Zipcode)</translate>
          </label>
          <input ng-model="sender.postcode" name="postcode" type="text" md-maxlength='255' placeholder="{{ 'Postcode' | translate }}" required></input>
          <div ng-messages="myForm.postcode.$error" md-auto-hide="false">
            <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
            <div ng-message="required" translate>You must enter a postcode</div>
          </div>
        </md-input-container>
        <div flex-gt-xs="10"></div>
        <md-input-container flex="100" flex-gt-xs="45">
          <label>
            <translate>Country</translate>
          </label>
          <country-select country="sender.country" required></country-select>
        </md-input-container>
      </div>
      </md-card-content>
    </md-card>

    <md-card ng-if="sender.sender_type == 'sms'" flex="100" flex-gt-md="90" flex-gt-lg="80" class="b-pr">
      <md-card-content layout="row" layout-wrap>
        <div flex="100">
          <p>Configure your SMS settings below.</p>
        </div>
        <md-input-container flex="100" flex-gt-xs="100">
          <label>
            <translate>Sender Name</translate>
          </label>
          <input ng-model="sender.sender_name" placeholder="Bob's Burgers" type='text' name="sender_name" md-maxlength='255' required></input>
          <div ng-messages="myForm.sender_name.$error">
            <div ng-message="required" translate>You must set a sender name</div>
            <div ng-message="md-maxlength" translate>Must be less than 255 characters.</div>
          </div>
          <small class="muted">This is for your reference only - the recipient will not see this.</small>
        </md-input-container>
        <div flex="100">
          <p>A phone number will be generated for you.</p>
        </div>
      </md-card-content>
    </md-card>

    <div flex="100" flex-gt-md="90" flex-gt-lg="80" class="b-pr">
      <md-button type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid">
        Save
      </md-button>
    </div>
  </md-content>
</form>
