<people-nav ng-show="location" location="location"></people-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta" style="margin-bottom:0px;">
  <div flex="100" flex-gt-md="90" flex-gt-lg="80" ng-show="location">
    <div layout="row" layout-align="space-between center" layout-wrap>
      <md-button id="main" class="md-fab md-mini md-raised" href="/#/{{location.slug}}/people/{{person.slug}}" aria-label="{{ 'Back to Person' | translate }}">
        <md-tooltip md-direction="bottom">Back to Person</md-tooltip>
        <md-icon>keyboard_return</md-icon>
      </md-button>
    </div>
  </div>

  <div ng-show="error_message">
    {{error_message}}
  </div>

  <div flex="100" flex-gt-md="90" flex-gt-lg="80">
    <div layout="column" layout-wrap ng-repeat="timeline in timelines">
      <md-card class="b-bl">
        <md-card-content>
          <small>{{timeline}}</small>
          <p>date: {{timeline.created_at | humanTime}}</p>
          <p>event: {{timeline.event}}</p>
          <p>mac: {{timeline.client_mac}}</p>
          <p>email: {{timeline.email}}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
