<splash-nav location="location"></splash-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">

  <div flex="100" flex-gt-md="90">
    <div layout="row" layout-wrap>
      <div flex="100" flex-gt-sm="30">
        <md-card class="guide-card b-gr">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Getting Started With MIMO
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-content>
              <p>Getting set up is quick and easy! Here's your checklist of things to do:</p>
              <md-list flex>
                <md-subheader class="md-no-sticky"><b>Customise your splash pages</b></md-subheader>
                <md-list-item class="md-2-line" ng-click='integrationClick("splash")' ng-href="/#/{{location.slug}}/splash_pages/">
                  <img class="check-mark" ng-src="{{setupSplash == 'true' ? 'https://d247kqobagyqjh.cloudfront.net/api/file/iFpTtabSPKhJ4oGKIh7p' : 'https://d247kqobagyqjh.cloudfront.net/api/file/6750gXV2RpilDseOWLpl' }}" />
                  <div class="md-list-item-text">
                    <p>Welcome your guests with a beautiful, branded splash page. Capture emails, social details and keep them engaged.</p>
                  </div>
                </md-list-item>
                <md-divider style="margin: 20px 0;"></md-divider>
                <md-subheader class="md-no-sticky"><b>Connect MIMO to your access points</b></md-subheader>
                <md-list-item class="md-2-line" ng-click='integrationClick("integration")' href="/#/{{ location.slug }}/integration">
                  <img class="check-mark" ng-src="{{setupIntegrations == 'true' ? 'https://d247kqobagyqjh.cloudfront.net/api/file/iFpTtabSPKhJ4oGKIh7p' : 'https://d247kqobagyqjh.cloudfront.net/api/file/6750gXV2RpilDseOWLpl' }}" />
                  <div class="md-list-item-text">
                    <p>Everything is automated - all you need to do is enter some credentials and you'll be up and running in a jiffy.</p>
                  </div>
                </md-list-item>
              </md-list>
              <p>You might also want to change your location name! (<md-icon>settings</md-icon> bottom left sidebar).</p>
            </md-content></md-card-content>
        </md-card>
      </div>

      <div flex="100" flex-gt-sm="70">
        <md-card class="b-gr">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                What are Splash Pages?
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-wrap>
            <div flex="100">
              <p translate>Splash pages are the gateway to your guest WiFi, allowing you to control your guest's access</p>
              <p translate>Welcome your customers when they arrive with a variety of login types.</p>
              <o translate>Capture their email addresses & social details to engage with them and display special offers.</p>
              <p translate>With unlimited sessions, you don't need to worry about additional monthly costs.</p>
            </div>
            <div flex="100">
              <img class="dash-img" style="max-width: 80%;" src="https://d247kqobagyqjh.cloudfront.net/api/file/JV6wPcYaTrGPKjVwN3ww"></img>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <splash-new style="md-raised" pages="splash_pages"></splash-new>
          </md-card-actions>
        </md-card>

      </div>
    </div>
  </div>

</md-content>
