<md-dialog aria-label="{{ 'Site Setup' | translate }}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Splash Template</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

        <md-radio-group ng-model="splash.template">
          <div layout="row" layout-align="space-around center" layout-wrap>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{teenPartyThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Teen Party</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="gradient_1"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{rainyAshvilleThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Rainy Ashville</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="gradient_2"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{seashoreThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Seashore</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="gradient_3"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{cloudyKnoxvilleThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Cloudy Knoxville</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="gradient_4"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{coffeeThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Coffee Shop</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="coffee_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{hotelThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Hotel</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="hotel_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{campThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Campsite</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="camp_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{officeThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Office</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="desk_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{retailThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Retail</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="shop_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{materialRedThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Material Red</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="material_red"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{materialYellowThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Material Yellow</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="material_yellow"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{materialGreenThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Material Green</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="material_green"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{materialBlueThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Material Blue</p>
                  </div>
                  <div>
                    <md-radio-button aria-label="Template" value="material_blue"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url({{splashThumb}});min-height:180px;background-size:cover;background-position:center;">
                </md-content>
                <md-card-actions layout="row" layout-align="center center">
                  <div>
                    <p>Custom Templates Coming Soon</p>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
          </div>
        </md-radio-group>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="close()" translate>
        Close
      </md-button>
      <md-button class="md-raised md-primary" ng-click="next()" ng-disabled="!splash.template" translate>
        Apply
      </md-button>
    </md-dialog-actions>
</md-dialog>

<style>
md-radio-button {
  margin-bottom: 0px!important;
}
</style>
