<span ng-hide="splash.welcome_text">
<!--Simon, the tags here were a bit messed up, check them out-->
  <h2 translate>Oh hi, it's you</h2>
  <p translate>Ok, so I'm a little welcome text. I'll appear after the user has logged in.</p>
  <p translate>You can put any html, images etc. in here, including links and even iFrames.</p>
  <p translate>The maximum number of characters you can currently store is 1,000 and the formatting you've selected previously will apply too.</p>
</span>
<p ng-if="splash.welcome_text" ng-bind-html="splash.welcome_text | sanitize"></p>
