<md-card class="b-bl">
  <md-tabs md-dynamic-height md-border-bottom>


    <md-tab id="tab1">
      <md-tab-label>Email</md-tab-label>
      <md-tab-body>
        <form layout-padding name="myForm" ng-submit="send(message)">
          <div layout="row" layout-wrap>
            <div flex="100">
              <small>Send a manual message to this customer. If they have multiple email addresses, your message will be sent to all the active ones.</small>
            </div>
          </div>
          <md-select ng-model="message.sender" placeholder="{{ 'Select sender' | translate }}" required>
            <span ng-repeat='sender in senders'>
              <md-option ng-value="sender.id">
                {{sender.sender_name}} ({{sender.from_email || sender.from_sms || sender.from_twitter}})
              </md-option>
            </span>
          </md-select>
          <div layout="column" ng-show="message.sender">
            <md-input-container flex="100" flex-gt-sm="100" style="margin-bottom:-12px;">
              <label>
                <translate>Message Subject</translate>
              </label>
              <input ng-focus="hideOthers()" ng-model="message.subject" name="message_subject" placeholder="{{ 'Enter a subject' | translate }}" type="text" md-maxlength='100'>
              <div ng-messages="myForm.message_subject.$error" md-auto-hide="false">
                <div ng-message="max" translate>Must be less than 100 characters</div>
              </div>
            </md-input-container>
            <span ng-if="tinymceOptions">
              <textarea ui-tinymce="tinymceOptions" ng-model="message.content"></textarea>
            </span>
          </div>
          <div layout="row" ng-show="message.sender">
            <span flex></span>
            <md-button class="md-primary" type="submit" ng-disabled="myForm.$invalid || myForm.$pristine">
              Send
            </md-button>
          </div>
        </md-tab-body>
      </form>
    </md-tab>

    <md-tab id="tab2">
      <md-tab-label>SMS</md-tab-label>
      <md-tab-body>
        <form layout-padding name="myForm" ng-submit="send(message)">

          <div layout="row" layout-wrap>
            <div flex="100">
              <small>Send a manual message to this customer. If they have multiple email addresses, your message will be sent to all the active ones.</small>
            </div>
          </div>
          <md-select ng-model="message.sender" placeholder="{{ 'Select sender' | translate }}" required>
            <span ng-repeat='sender in senders'>
              <md-option ng-value="sender.id">
                {{sender.sender_name}} ({{sender.from_email || sender.from_sms || sender.from_twitter}})
              </md-option>
            </span>
          </md-select>
          <div layout="column" ng-show="message.sender">
            <md-input-container flex="100" flex-gt-sm="100" style="margin-bottom:-12px;">
              <label>
                <translate>Message</translate>
              </label>
              <input ng-focus="hideOthers()" ng-model="message.content" name="sms_message" type="text" md-maxlength='160'>
              <div ng-messages="myForm.sms_message.$error" md-auto-hide="false">
                <div ng-message="max" translate>Must be less than 160 characters</div>
              </div>
            </md-input-container>
          </div>
        </form>
      </md-tab-body>
    </md-tab>

    <md-tab id="tab3">
      <md-tab-label>Twitter</md-tab-label>
      <md-tab-body>
        <form layout-padding name="myForm" ng-submit="send(message)">
          <div layout="row" layout-wrap>
            <div flex="100">
              <small>Send a manual message to this customer. If they have multiple email addresses, your message will be sent to all the active ones.</small>
            </div>
          </div>
          <md-select ng-model="message.sender" placeholder="{{ 'Select sender' | translate }}" required>
            <span ng-repeat='sender in senders'>
              <md-option ng-value="sender.id">
                {{sender.sender_name}} ({{sender.from_email || sender.from_sms || sender.from_twitter}})
              </md-option>
            </span>
          </md-select>
          <div layout="column" ng-show="message.sender">
            <md-input-container flex="100" flex-gt-sm="100" style="margin-bottom:-12px;">
              <label>
                <translate>Tweet</translate>
              </label>
              <input ng-focus="hideOthers()" ng-model="message.content" name="tweet_message" type="text" md-maxlength='263'>
              <div ng-messages="myForm.tweet_message.$error" md-auto-hide="false">
                <div ng-message="max" translate>Must be less than 263 characters</div>
              </div>
            </md-input-container>
          </div>
        </form>
      </md-tab-body>
    </md-tab>

  </md-tabs>
</md-card>
