<md-dialog aria-label="Subscribe to a plan">
  <form name="myForm" ng-submit="send(message)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send Manual Message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-content layout-padding>
        <div layout="row" layout-wrap>
          <div flex="100">
            <p>
              <span>Send a manual message to this customer.</span>
              <span ng-show="message.type == 'Email'">If they have multiple email addresses, your message will be sent to all the active ones.</span>
              <span ng-show="message.type == 'SMS'">If they have multiple phone numbers, your message will be sent to all the active ones.</span>
            </p>
            <p>Please be aware that SMS usage is charged seperately to your subscribed plan. <a href="SMS DOC URL" target="_blank">See here for more information.</a></p>
          </div>
        </div>
        <md-select ng-model="message.sender" placeholder="{{ 'Select sender' | translate }}" required>
          <span ng-repeat='sender in senders'>
            <md-option ng-value="sender.id">
              {{sender.sender_name}} ({{sender.from_email || sender.from_sms}})
            </md-option>
          </span>
        </md-select>
        <div layout="row" layout-wrap ng-show="message.sender">
          <md-input-container flex="100" ng-show="message.type == 'Email'">
            <label><translate>Subject</translate></label>
            <input ng-model="message.subject" type='text' name="subject">
          </md-input-container>
          <md-input-container flex="100">
            <label><translate>Message</translate></label>
            <textarea ng-model="message.content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            <div ng-messages="myForm.message.$error">
              <div ng-message="required" translate>You must enter a message</div>
            </div>
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button style="margin-right:20px;" type="submit" ng-disabled="myForm.$invalid || myForm.$pristine">
        Send
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
